:root {
    --dark-blue: #002F6C;
    --light-blue: #01387f;
    --yellow: #FEE900;
    --yellow-light: rgba(254, 233, 0, .8);
    --white: #FFFFFF;
    --white-light: rgba(255, 255, 255, .8);
    --white-transparent: rgba(255, 255, 255, .4);
    --red: #FE0000;
    --red-light: rgba(254, 0, 0, .8);
    --green: #00CB00;
    --green-light: rgba(0, 203, 0, .8);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*background-color: var(--dark-blue);*/
}

html {
    background-color: white;
    display: flex;
}

body {
    touch-action: none;
    max-width: 1180px;
    max-height: 820px;
    position: relative;
    margin: auto;
    background-image: radial-gradient(circle, var(--light-blue), var(--dark-blue));
    color: var(--yellow);
    font-family: "Montserrat";
}

main {
    width: 100%;
    height: 100%;
}

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    /*background-color: rgba(255, 255, 255, .25);*/
}

#main-container #bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#main-container #bottom-container #back-button {
    color: var(--white);
    text-wrap: nowrap;
    font-weight: 200;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#main-container #bottom-container #back-button i {
    margin: 0px 10px;
}

#main-container .powered-by-cgi {
    color: var(--white);
    justify-content: flex-end;
    margin-bottom: 20px;
    font-size: 20px;
}

#main-container .powered-by-cgi img {
    max-height: 25px;
    margin: 0px 30px 0px 10px;
}

#left-panel {
    width: 75%;
    display: flex;
    flex-direction: column;
    /*background-color: rgba(255, 0, 0, .25);*/
}

#left-panel #video-container {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

#left-panel #video-container video {
    width: 100%;
}

#controls {
    text-align: center;
    font-size: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#controls .button {
    padding: 0px;
    margin: 0px;
    width: 70px;
    display: inline-block;
    color: #FFFFFF;
    opacity: .8;
    cursor: pointer;
}

#controls .button:hover {
    color: var(--yellow);
}

#controls #time-bar {
    width: 95%;
    /*display: block;*/
    margin: 25px auto 25px auto;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

#rate-container, #zoom-container {
    width: 25%;
    display: flex;
    align-items: center;
}

#rate-container .button, #zoom-container .button {
    font-size: 25px;
    width: 45px;
}

#decision-container {
    display: flex;
    justify-content: center;
}

#decision-container .button {
    display: inline;
    border: solid 3px var(--white-light);
    border-radius: 10px;
    font-size: 20px;
    padding: 7px 7px;
    width: auto;
    background: none;
}

#rate-container {
    justify-content: flex-start;
    padding-left: 2.5%;
    color: var(--white-light);
}

#rate-container .button {
    border: solid 3px var(--white-light);
    border-radius: 10px;
    font-size: 15px;
    padding: 7px 0px;
    margin-right: 5px;
}

#rate-container .button:hover, #decision-container .button:hover {
    border-color: var(--yellow-light);
}

#rate-container .button.selected {
    color: var(--yellow-light);
    border-color: var(--yellow-light);
}

#zoom-container {
    justify-content: flex-end;
    padding-right: 2.5%;
}

#control-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

#zoom-container .button {
    width: 45px;
    font-size: 25px;
}

#right-panel {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgba(0, 255, 0, .25);*/
    box-shadow: rgba(0, 0, 0, .5) 0px 0px 6px 0px, rgba(0, 0, 0, .25) 0px 0px 18px 0px;
}

#right-panel video {
    max-width: 100%;
    max-height: 25%;
    cursor: pointer;
    /*max-height: calc(25% - 4px);*/
    /*margin: 2px;*/
}

#right-panel .explanations {
    flex: 1;
    color: var(--white-light);
    text-align: center;
    margin: 0px 15px;
    margin-top: 20px;
}

#right-panel .explanations .bi {
    font-size: 28px;
    padding-bottom: 8px;
    display: inline-block;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*border: 1px solid #000000;*/
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: var(--yellow);
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /*border: 1px solid #000000;*/
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: var(--yellow);
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /*border: 1px solid #000000;*/
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: var(--yellow);
    cursor: pointer;
}


input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--white-light);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--white-light);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--white-light);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background-color: var(--yellow-light);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background-color: var(--yellow-light);
}

input[type=range]::-ms-fill-upper {
    background: var(--white-light);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--white-light);
}

input[type=range]::-moz-range-progress {
    background-color: var(--yellow-light);
    height: 8.4px;
}

.scale-1x {
    transform: scale(1);
}

.scale-2x {
    transform: scale(2);
}

.scale-3x {
    transform: scale(3);
}

.scale-4x {
    transform: scale(4);
}

.scale-5x {
    transform: scale(5);
}

#zoom-video-container video {
    pointer-events: none;
}

#decision-overlay {
    display: flex;
    background-color: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--white-light);
    opacity: 0;
    transition: all 1s ease-in-out;
    pointer-events: none;
}

#decision-overlay.visible {
    opacity: 1;
    pointer-events: all;
}

#decision-overlay #close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '×';
    position: absolute;
    font-size: 150px;
    right: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--white-light);
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.decision-choices {
    margin-top: 50px;
}

.decision-choices button {
    font-size: 150px;
    background: none;
    border: none;
    cursor: pointer;
}

.decision-choices button:active {
    transform: translate(1px, 5px);
}

#validate-button {
    color: var(--green-light);
}

#validate-button:hover {
    color: var(--green);
}

#invalidate-button {
    color: var(--red-light);
}

#invalidate-button:hover {
    color: var(--red);
}

#decision-overlay > div {
    position: absolute;
    text-align: center;
    transform: translateY(-70vh);
    opacity: 0;
    transition: transform .5s ease-out, opacity .4s ease-out;
    pointer-events: none;
}

#decision-overlay.step1 #step1 {
    transform: none;
    opacity: 1;
    transition: transform 1s ease-out .8s, opacity 1.3s ease-out .9s;
    pointer-events: auto;
}

#decision-overlay #step2 {
    transform: none;
}

#decision-overlay.step2 #step2 {
    opacity: 1;
    transition: opacity .8s ease-out .8s;
    pointer-events: auto;
    width: 100%;
}

.good-answer {
    color: var(--green-light);
}

.wrong-answer {
    color: var(--red-light);
}

#answer-message {
    display: block;
    margin: auto;
    width: calc(100% - 300px);
    font-weight: bold;
    font-size: 60px;
}

.answer-explanation span {
    font-size: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#scenario-chooser {
    position: absolute;
    z-index: 2000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: radial-gradient(circle, var(--light-blue), var(--dark-blue));
    display: flex;
    flex-direction: column;
    color: var(--white-light);
    justify-content: center;
}

#scenario-chooser #new-game {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    font-size: 24px;
    font-weight: 200;
}

#scenario-chooser #score {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    font-weight: 600;
}

.hidden{
    display: none !important;
}

#scenario-chooser h1{
    text-align: center;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: 50px;
}

#scenario-chooser #scenari-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 10%;
    text-align: center;
}

#scenari-grid .scenario {
    display: flex;
    flex-direction: column;
    margin: auto auto 25px;
    cursor: pointer;
    position: relative;
    color: var(--white);
}

#scenari-grid .scenario.played {
    color: var(--white-transparent);
}

.scenario .scenario-checkmark{
    display: none;
    position: absolute;
    left: 50%;
    top: 60px;
    font-size: 102px;
    transform: translateX(-50%);
    z-index: 1;
}

.scenario.played .scenario-checkmark{
    display: block;
}

.scenario .scenario-checkmark .bi{
    display: none;
}

.scenario.correct .scenario-checkmark .bi.check{
    color: var(--green);
    display: inline;
}

.scenario.incorrect .scenario-checkmark .bi.cross{
    color: var(--red);
    display: inline;
}


.scenario .scenario-image {
    margin-bottom: 20px;
    position: relative;
}

.scenario.played .scenario-image::before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.scenario .scenario-image img {
    box-shadow: rgba(0, 0, 0, .5) 0px 0px 6px 0px, rgba(0, 0, 0, .25) 0px 0px 18px 0px;
    max-width: 100%;
}

.scenario .scenario-text {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.scenario .scenario-description {
    font-size: .8em;
    font-weight: lighter;
    opacity: .7;
}

#splash-screen {
    background-image: radial-gradient(circle, var(--light-blue), var(--dark-blue));
    color: var(--white);
    position: absolute;
    z-index: 2000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#splash-screen .asm-experience-logo, #splash-screen .title, #splash-screen .powered-by-cgi {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;

    animation-name: appears-from-top;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#splash-screen .title {
    flex: 0.5;
    animation-duration: 3s;
    animation-delay: .5s;
    display: flex;
    flex-direction: column;
}

#splash-screen .title h1{
    font-size: 72px;
    font-weight: 600;

}

#splash-screen .title h4{
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 20px;
}

#splash-screen .asm-experience-logo {
    align-items: flex-end;
}

#splash-screen .asm-experience-logo img {
    max-height: 200px;
    margin-bottom: 20px;
}

.powered-by-cgi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 32px;
    font-weight: 200;
}

#splash-screen .powered-by-cgi {
    flex: 1;
    animation-name: appears;
    animation-delay: 2s;
    animation-duration: 4s;
}

#scenario-chooser .powered-by-cgi {
    margin-top: auto;
    margin-bottom: 20px;
}

.powered-by-cgi img {
    max-height: 50px;
    display: inline;
    margin: 0px 10px;
}

#splash-screen .touch-indicator {
    height: 50px;
    animation-name: appears;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    animation-duration: 8s;
    opacity: 0;
}

@keyframes appears-from-top {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#popup{
    display: block;
    z-index: 3000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}


#popup-content{
    display: block;
    z-index: 3000;
    background-color: var(--white);
    color: var(--dark-blue);
    text-align: center;
    font-size: 40px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 40px 40px 30px 40px;
}

#popup::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2999;
}

#popup .actions{
    width: 80%;
    margin: auto;
    font-size: 22px;
    margin-top: 40px;
    padding-top: 20px;
    border-top: solid 1px var(--dark-blue);
}

#final-score {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

#final-score .score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-weight: 800;
}

#final-score .score .sub-text {
    text-align: center;
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

#final-score .powered-by-cgi {
    margin-top: 60px;
    margin-bottom: 20px;
}

#final-score .instructions {
    position: absolute;
    bottom: 200px;
    animation-name: appears;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 4s;
    opacity: 0;
}

#helper-container {
    display: flex;
    flex-direction: row;
    color: var(--white-light);
    font-size: 16px;
    margin-bottom: 30px;
}

#helper-container > * {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

#helper-container .bi {
    font-size: 25px;
    margin-bottom: 5px;
}

#rate-helper {
    width: 25%;
}

#control-helper {
    width: 50%;
    flex-direction: column;
}

#zoom-helper {
    width: 25%;
}

#zoom-helper .bi {
    align-self: flex-end;
    margin-right: 35px;
}

.bi-flipped::before {
    transform: scaleX(-1);
}
